@import 'tailwindcss';
@plugin "daisyui" {
  themes: forest --default;
}
@layer base {
  /* Used to hide alpine elements before being rendered. */
  [x-cloak] {
    display: none !important;
  }
}
